* {
    padding: 0;
    margin: 0;
}

.clock {
    background-color: rgb(75, 75, 238);
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid black;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
    transform: translate(0, 50%);
}

.circle {
    height: 600px;
    width: 100px;
    background-color: red;
}

.num1 {
    transform: translate(28%, 100%);
}

.num2 {
    transform: translate(42%, 220%);
}

.num3 {
    transform: translate(48%, 489%);
}

.num4 {
    transform: translate(42%, 750%);
}

.num5 {
    transform: translate(24%, 860%);
}

.num6 {
    transform: translate(0, 850%);
}

.num7 {}

.num8 {
    transform: translate(44%, 698%)
}

.num9 {
    transform: translate(-48%, -100%);
}

.num10 {
    transform: translate(-44%, -540%);
}

.num11 {
    transform: translate(-28%, -900%);
}

.num12 {
    transform: translate(0, -1130%);
}