* {
    padding: 0;
    margin: 0;
}

.clock {
    background-color: rgb(75, 75, 238);
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid black;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
    transform: translate(0, 50%);
}

.num1 {}

.num2 {}

.num3 {
    transform: translate(32%, 570%);
}

.num4 {}

.num5 {}

.num6 {}

.num7 {}

.num8 {}

.num9 {
    transform: translate(-39%);
}

.num10 {}

.num11 {}

.num12 {
    transform: translate(0, -1130%);
}